<launch>

  <group ns="/wallframe/core">
    <!-- Application Manageeer processes, no visual output - only service call interface -->
    <node pkg="wallframe_core" name="wallframe_app_manager" type="wallframe_app_manager.py" output="screen"/>
    <arg name="app_manifest_path" default="$(find wallframe_core)/wallframe_application_manifest.yaml" />
    <param name="paths/app_manifest" textfile="$(arg app_manifest_path)" />
    <param name="paths/application_path" value="$(find modulair_app_tron)/.." /> 
  </group>
  <!-- Infobar at the bottom of the screen that shows user avatar and messages -->
  <node pkg="wallframe_core" name="wallframe_infobar" type="wallframe_infobar.py" output="screen"/>

  <node pkg="wallframe_core" name="wallframe_menu_tooltip" type="wallframe_tooltip.py" output="screen" args="wallframe_menu_tooltip"/>
  <node pkg="wallframe_core" name="wallframe_app_tooltip" type="wallframe_tooltip.py" output="screen" args="wallframe_app_tooltip"/>
  <param name="/wallframe/menu/params/cursor_path" value="$(find wallframe_core)/assets/cursor_open.png" /> 
  <param name="/wallframe/menu/params/cursor_path_alt" value="$(find wallframe_core)/assets/cursor_closed.png" /> 
  <param name="/wallframe/menu/params/background_path" value="$(find wallframe_core)/assets/background.jpg" /> 
  <param name="/wallframe/core/tooltip/assets" value="$(find wallframe_core)/assets" />
  <node pkg="wallframe_core" name="wallframe_app_tileflow_menu" type="wallframe_app_tileflow_menu_two_hands.py" output="screen"/>
  <!-- <node pkg="wallframe_core" name="wallframe_app_tileflow_menu" type="wallframe_app_tileflow_menu_one_hand.py" output="screen"/> -->
  
  <rosparam>
    wallframe:
      core:
        params:
          x: 1680
          y: 24
          width: 5760
          height: 3197
        default_app: screensaver
      app:
        params:
          height_percentage: .97
      infobar:
        params:
          height_percentage: .03    
      menu:
        params:
          height_percentage: .97
          workspace_size: [-1200,1200,-600,600,1500,3000]
          border_scale: .02
          y_offset: -600.0
          screensaver: yes
      wallframe_app_tooltip:
        params:
          name: tooltip_app
          width_percentage: 0.2
          height_percentage: 0.08
          x_percentage: 0.7
          y_percentage: 0.05
      wallframe_menu_tooltip:
        params:
          name: tooltip_menu
          width_percentage: 0.2
          height_percentage: 0.08
          x_percentage: 0.7
          y_percentage: 0.95
  </rosparam>


</launch>
